language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "api/node_modules"
env:
  global:
    - CODECLIMATE_REPO_TOKEN=40976024e468d1646320c31bc10bfbf39c11e0e1248b159d8f6de7e277df435f
before_install : 
 - cd api/
 - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
 - chmod +x ./cc-test-reporter
  #- export DISPLAY=:99.0                # Display number for xvfb (for headless browser testing)
  #- sh -e /etc/init.d/xvfb start        # Start xvfb (for headless browser testing)


install:
  - npm install

script:
  - npm test

after_success:
  - npm run coverage
  - npm run coveralls


after_script: NODE_ENV=test istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
  