language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "api/node_modules"

before_install : cd api/

install:
  - npm install

script:
  - npm test

after_success:
  - npm run coverage
  - npm run coveralls
  