* 
{
    margin: 0;
    padding: 0;
}

body
{
    font-family:'Abel', 'Heebo';
    width: 100%;
    overflow-x: hidden;
}

/*header*/
header
{
    align-items: center;
    width:100%;
    background: #111;
    color: #fff;
    height: 70px;
    display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 2px solid orange;
  

}
.logo
{
 position: absolute;
 top: 0;
 left:0;
 font-size: 30px;
 margin-left: 15px;
 color: orange;
}
.openbtn
{
    visibility: hidden;
}
.closebtn
{
    visibility: hidden;
}
.red
{
    color: red;
}
.sidebar
{
    
    display: inline-flex;
  list-style-type: none;
  padding-left: 0;
  margin-left: 50%;
    
}

.sidebar a 
{
    border-radius: 6px;
  color: #fff;
  font-size: 20px;
  padding: 8px 10px;
  text-decoration: none;
}

.sidebar a:hover 
{
    border-bottom: 1px solid orange;
    padding: 10px;
    font-size: 18px;
    transition : all ease-out 1000;
}

/*main div*/
.main
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/pexels-photo-1640770.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.advert h1, .btn-sm
{
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    transform : translate(-50%, -50%);
    font-size: 50px;
}

.btn-sm
{   position:absolute;
    top:50%;
    left: 50%;
    margin-top: 70px;
    text-decoration:none;
    background: orangered;
    color: #fff;
    border:none;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}
.btn-sm:hover
{
    background: red;
}
.btn-sm a {
    text-decoration: none;
    color: #fff;
}

/*form*/
.formbox    
{
    width: 420px;
    height:530px;
    background:rgba(0,0,0,0.9);
    color: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 20px; 
}
.formbox h2
{
    padding: 20px 0 20px;
    text-align: center;
    margin:0;
    font-family : Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.formbox p
{
    margin:0;
    padding:0;
    font-weight: bold;
}
.formbox input
{
    width: 100%;
    margin-bottom: 20px;
}
.formbox input[type="text"], .formbox input[type="password"], .formbox input[type="email"]
{
    border: none;
    border-bottom: 1px solid orangered;
    height: 25px;
    background: inherit;
    color: orangered;
    outline: none;
    font-size: 18px;
}


.formbox input[type="submit"]
{
    border: none;
    outline:none;
    height:40px;
    background: orangered;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.formbox input[type="submit"]:hover
{
    background:red;
    cursor: pointer;
    color: #000;
    font-size: 24px;
}

.formbox a
{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.formbox a:hover
{
    color: red;
    font-size: 24px;
}


.more a 
{
    margin-left: 30px;
    margin-top: 20px;
    color: #ffff00;
}

/*Menu Div */
.menu-list
{
    padding: 10%;
}
.menus h2
{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
}
.grid-2
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%;
    margin-left: 30px;
    padding: 30px;
    margin-bottom: 30px;
}
.item-name 
{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}
.item-price
{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
}

.info
{
    padding: 30px;
}

.food
{
    box-shadow: 2px 6px 4px #333, 0px 5px 3px #333, 3px 5px 0px #444;
    border-radius: 10px;
}
.food button
{
    border: none;
    background: rgba(211, 58, 3, 0.904);
    padding: 20px;
    color: #fff;
    text-transform: lowercase;
    border-radius: 10px;
    cursor: pointer;
}


.food button:hover
{
    background: rgb(255, 81, 0);
}

.food img 
{
    width:250px;
}


.btn-lg
      {
          margin-top: 40%;
          font-size: 25px;
      }

      .grid-2
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 70%;
    margin-left: 30px;
    padding: 30px;
    margin-bottom: 30px;
}


/*cart */

.btn-cart
{
    border:none;
    background: orangered;
    padding: 10px;
    border-radius: 10px;
}
.notify
{
    background:green;
    padding: 5px;
    margin: 5px;
}
.notice
{
    font-size: 30px;
    color: green;
    font-weight: bold;
    background:inherit;
}
.food-details
{
padding: 30px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #666;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/*footer */

footer
{
    text-align: center;
    background: #222;
    color: orangered;
    padding: 20px;
}

.edit-meal
{
    text-align: center;
    width: 80%;
    border: 1px solid orangered;
}

.edit-meal input[type="text"], .edit-meal input[type="number"]
{
    width: 50%;
    height: 40px;
   margin: 30px;
  border:none;
    
}
.edit-meal input[type="submit"]
{
    width: 30%;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 15px;
    background: dodgerblue;
    border-radius: 20px;
    cursor: pointer;

}

.admin .edit
{
    background: dodgerblue;
}
.admin .delete
{
    background: red;
}

/*sales */
table{
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}
td, th
{
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

/*checkout table*/

.rows
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
    width: 80%;
    margin-top: 40px;
    background: #333;
    color: #fff;
    padding: 50px;
}
.cart table
{
    width: 40%;
}
.buyform
{
    width: 60%;
    padding: 20px;
}

.buyform input[type="text"]
{
    width: 100%;
    margin-bottom:10px;
    height: 20px;
    padding: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    outline: none;
    color:#fff;
    font-size: 20px;
}

.buyform input[type="submit"]
{
    width: 50%;
    border-bottom: none;
    border: none;
    color: #fff;
    background: orangered;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding-top: -30px;
    margin-top: 12px;
    font-size:20px;
}


@media (max-width: 762px){
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
       margin-left: 0%;
       display:block;
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }
      
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .closebtn
      {
          visibility: visible;
      }
      
      /* The button used to open the sidebar */
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        position: absolute;
        top:0;
        right:0;
        visibility: visible;
      }
      
      .openbtn:hover {
        background-color: #444;
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s; /* If you want a transition effect */
        padding: 20px;
      }


      .btn-lg
      {
          margin-top: 40%;
          font-size: 25px;
      }

      .grid-2
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 70%;
    margin-left: 30px;
    padding: 30px;
    margin-bottom: 30px;
}
.rows
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
}


/*cart */






/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }